body {

	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

	background-size: 400% 400%;

	animation: gradient 200s ease infinite;

}



.card-title {

    color: white;

    font-size: 25px !important;

    text-align: center;

}



p {

    text-align: center;

    color: #eee;

}



.btn-primary {

    border-radius: 5px;

    background: #00000000;

    border: 1px solid #f9f9f9f9;

    color: #fff;

    padding: 12px;

}



.btn-primary:hover {

    background: #ffffff44;

}



.form-control {

    margin: 5px 0;

    border: 1px solid #fff;

    border-radius: 100px;

    padding: 5px 20px;

    background: #00000000;



}



.form-floating>.form-control:focus~label, .form-floating>.form-control:-webkit-autofill~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label  {

    color: #000;

}



.form-floating>label{

    color: #eee;

}





.card{

    border: 1px solid #eee;

    box-shadow: 0px 10px 45px -20px #ffffff55;

    border-radius: 10px;

    background: #00000033;

    backdrop-filter: blur(1000px);

}



.github-link  {

    display: block;

    font-size: 35pt;

    color: white;

    margin-top: 20px;

}



@keyframes gradient {

	0% {

		background-position: 0% 50%;

	}

	50% {

		background-position: 100% 50%;

	}

	100% {

		background-position: 0% 50%;

	}

}

